*{
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: $ff-main;
  font-size: 14px;
  line-height: 1.2;

  &.open-menu{
    overflow: hidden;
  }
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active
  {
    transition: $base-transition;
  }
}

input{
  &:focus,
  &:active{
    outline: none;
  }
}

button{
  &:focus,
  &:active{
    outline: none;
  }
}

.wrapper{
  overflow: hidden;
}

button{
  background-color: transparent;
  border:none;
}
